<template>
  <div class="game">
    <div id="shame-on-you" hidden>
      Honte à vous ! C'est mal de tricher.
      Voici le prochain coup du coach : '{{ coachHandType }}'
      Mais vous restez un TRICHEUR !!!
    </div>
    <div class="game__count-none-beat-coaches">
      Nombre de coachs restants à battre : <span>{{getters['Coach/countNoneBeatCoaches']}}</span>
    </div>
    <div class="game__current-coach">
      <div class="game__current-coach__empty-div">
      </div>
      <div class="game__current-coach__coach-picture">
        <div>Coach {{getters['Coach/currentNumberCoach']}}</div>
        <CoachProfile :coach="coachState.currentCoach" :mode="'game'"></CoachProfile>
      </div>
      <div class="game__current-coach__hand-type">
        <div class="game__current-coach__hand-type__title">
          Le coup du coach
        </div>
        <RockPaperScissors
            class="game__current-coach__hand-type__component"
            :hand-type="coachHandType"
            :hide-card="hideCoachCard"
        />
      </div>
    </div>
    <div class="game__user">
      <div class="game__user__title-and-select" v-if="result === 1">
        <div>
          Bravo ! Vous avez réussi à battre le coach <span>{{getters['Coach/currentNumberCoach']}}</span>
        </div>
        <button class="game__user__title-and-select__win-btn" @click="nextCoach">Suivant</button>
      </div>
      <div class="game__user__title-and-select" v-else-if="result === 0">
        <div>
          Egalité ! Veuillez cliquer sur 'Retenter'
        </div>
        <button class="game__user__title-and-select__equal-btn" @click="resetParty">Retenter</button>
      </div>
      <div class="game__user__title-and-select" v-else-if="result === -1">
        <div>
          Vous avez perdu ! Veuillez recommencer
        </div>
        <button class="game__user__title-and-select__lose-btn" @click="retryAllParties">Recommencer</button>
      </div>
      <div class="game__user__title-and-select" v-else>
        Veuillez choisir votre coup
      </div>
      <div class="game__user__rock-paper-scissors-list">
        <RockPaperScissors
            class="game__user__rock-paper-scissors-list__component"
            :hand-type="handType" v-for="(handType, index) in handTypes" :key="index"
            @get-hand-type="getHandType"
            :class="{
              '--not-yet': result === 2,
              '--lose': result === -1 && handType === selectedHandType,
              '--win': result === 1 && handType === selectedHandType,
              '--equal': result === 0 && handType === selectedHandType
            }"
        />
      </div>
    </div>
  </div>
</template>

<script>
  import CoachProfile from "../components/CoachProfile";
  import {ref} from "vue";
  import {useRouter} from "vue-router";
  import RockPaperScissors from "../components/RockPaperScissors";
  import store from "../store";

  export default {
    name: "Game",
    components: {RockPaperScissors, CoachProfile},
    setup() {
      const router = useRouter();
      const hideCoachCard = ref(true);
      const result = ref(2);
      const handTypes = ['rock', 'paper', 'scissors'];
      const coachHandType = ref(handTypes[getRandomValue(2)]);
      const selectedHandType = ref(null);

      store.dispatch('Coach/setCoaches');
      store.dispatch('Coach/setCoach', store.state.Coach.coaches[0]);

      function getHandType(handType) {
        if (result.value !== 2)
          return;
        selectedHandType.value = handType;
        const matrixShifoumi = [
          [0, -1, 1],
          [1, 0, -1],
          [-1, 1, 0],
        ];
        result.value = matrixShifoumi[handTypes.indexOf(handType)][handTypes.indexOf(coachHandType.value)];
        hideCoachCard.value = false;
      }

      function getRandomValue(max) {
        return Math.round(Math.random() * max);
      }

      function nextCoach() {
        const indexCoach = store.getters['Coach/getIndexCurrentCoach'];
        store.dispatch('Coach/setBeatCurCoach', true);
        if (indexCoach === store.state.Coach.coaches.length - 1) {
          router.push('/you_are_the_champion');
        } else {
          store.dispatch('Coach/setNextCoach');
        }
        resetParty();
      }

      function retryAllParties() {
        store.dispatch('Coach/setCoachesBeatStatus', false);
        store.dispatch('Coach/setCoach', store.state.Coach.coaches[0]);
        resetParty();
      }

      function resetParty() {
        coachHandType.value = handTypes[getRandomValue(2)];
        result.value = 2;
        hideCoachCard.value = true;
      }

      return {
        coachState : store.state.Coach,
        getters : store.getters,
        hideCoachCard,
        handTypes,
        getHandType,
        coachHandType,
        result,
        resetParty,
        nextCoach,
        retryAllParties,
        selectedHandType
      }
    }
  }
</script>

<style lang="scss" scoped>
  .game {
    display: flex;
    flex-direction: column;

    &__count-none-beat-coaches {
      margin-left: 50px;
      text-align: start;
      margin-bottom: 10px;
      font-size: 17px;

      span {
        font-weight: bold;
      }
    }

    &__current-coach {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-bottom: 30px;

      &__coach-picture {
        @media screen and (min-width: 800px) {
          padding: 0;
        }
        @media screen and (min-width: 1000px) {
          padding: 0 40px;
        }
      }

      &__hand-type {
        &__component {
          margin: 10px;
        }
      }

      &__empty-div {
        @media screen and (min-width: 800px) {
          width: 0;
        }
        @media screen and (min-width: 1000px) {
          width: 130px;
        }
      }
    }

    &__user {
      &__title-and-select {
        margin-bottom: 20px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

        button {
          margin-left: 10px;
        }

        &__win-btn {
          background-color: green;
          color: #FFF;
        }

        &__lose-btn {
          background-color: red;
          color: #FFF;
        }

        &__equal-btn {
          background-color: blue;
          color: #FFF;
        }
      }

      &__rock-paper-scissors-list {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

        &__component {
          margin: 0 10px 10px;

          &.--not-yet {
            cursor: pointer;

            &:hover {
              border-color: grey;
              background-color: var(--nav-bg);
            }

          }

          &.--win {
            border-color: green;
            background-color: lightgreen;
          }

          &.--lose {
            border-color: red;
            background-color: lightcoral;
          }

          &.--equal {
            border-color: grey;
            background-color: var(--nav-bg);
          }
        }
      }
    }
  }
</style>
