<template>
  <div class="home">
    <h2>Combats de pierre, feuille, ciseaux contre chaque coach</h2>
    <div class="home__description">
      <div>
        Pour poursuivre les énigmes de votre jeudi après-midi, il faut gagner toutes les manches de shifoumi de manière successive.
        Si vous perdez une seule fois, vous devez recommencer à jouer contre le premier coach.
      </div>
      <div>Voici le code d'un exercice à résoudre : <strong>0553e9</strong>. Ne négligez pas cet exercice ! Il sera bien utile plus tard.</div>
      <div>
        Bonne chance !
      </div>
    </div>
    <div>
      <button class="home__start-btn" @click="startShifoumi">Commencer</button>
    </div>
  </div>
</template>

<script>
import {useRouter} from 'vue-router'

export default {
  name: 'Home',
  setup() {
    const router = useRouter();
    function startShifoumi() {
      router.push('/game')
    }
    return {
      startShifoumi
    }
  }
}
</script>

<style lang="scss" scoped>
  .home {
    h2 {
      font-size: 23px;
    }
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__description {
      text-align: justify;
      margin-bottom: 20px;
      font-size: 20px;
      @media screen and (min-width: 800px) {
        padding: 0 40px;
      }
      @media screen and (min-width: 1000px) {
        padding: 0 60px;
      }
      @media screen and (min-width: 1150px) {
        padding: 0 100px;
      }
      @media screen and (min-width: 1250px) {
        padding: 0 180px;
      }
    }
    &__start-btn {
      padding: 10px;
      font-size: 17px;
      background-color: var(--btn-bg);
      color: var(--btn-text);
      border-radius: 7px;
      border: none;
      cursor: pointer;
    }
  }
</style>
