<template>
  <div class="result-view">
    <div class="coach-profile-list">
      <CoachProfile :coach="coach" v-for="(coach, index) in coaches" :key="index" :mode="'result'"/>
    </div>
    <div class="description container">
      <div>
        Bravo ! Vous avez battu tous les coachs au shifoumi.
        Maintenant il ne vous reste plus qu'à trouver chaque coach et de dire son nom à décoder en fonction du tableau d'entiers associé.
        Normalement la suite de 7 entiers devrait vous rappeler un exercice. Sinon revenez à la page d'accueil pour plus de précisions.
      </div>
      <router-link to="/">Accueil</router-link>
    </div>
  </div>

</template>

<script>
  import CoachProfile from "../components/CoachProfile";
  import store from "../store";

  export default {
    name: "Result",
    components: {CoachProfile},
    setup() {
      const coaches = store.state.Coach.coaches;
      if (coaches.length === 0) {
        store.dispatch('Coach/setCoaches');
      }
      return {
        coaches: store.state.Coach.coaches
      }
    }
  }
</script>

<style lang="scss" scoped>

  .result-view {

    .coach-profile-list {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
    }

    .description {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      text-align: justify;
      margin: 0 50px;
      a {
        color: var(--btn-text);
        text-decoration: none;
        background-color: var(--btn-bg);
        font-weight: bold;
        border: 1px solid;
        padding: 10px;
        margin-top: 10px;
        border-radius: 5px;
      }
    }
  }

</style>
