<template>
  <div class="coach-profile"
       :class="{'--game': state.mode !== 'result'}"
  >
    <div class="coach-profile__encoded_numbers"
         v-if="state.coach.encodedNumbers && state.mode === 'result'"
    >
      {{ state.coach.encodedNumbers }}
    </div>
    <div class="coach-profile__picture">
      <img alt="Coach picture" :src="profilePictureLink"/>
    </div>
  </div>
</template>

<script>
  import {reactive, computed} from "vue";
  export default {
    name: "CoachProfile",
    props: {
      coach: {
        type: Object,
        required: true
      },
      mode: {
        type: String,
        required: false
      }
    },
    setup(props) {
      const state = reactive(props);

      const profilePictureLink = computed(() => {

        const pictureName = state.coach.profileLink === null ? "unknown.png" : state.coach.name + ".jpg";
        return require(`@/assets/img/${pictureName}`)
      });

      return {
        profilePictureLink,
        state
      }
    }
  }
</script>

<style lang="scss" scoped>
  .coach-profile {
    border: 1px solid var(--nav-bg);
    max-width: 150px;
    margin: 10px;
    padding-top: 5px;
    border-radius: 5px;
    color: var(--text-color);
    background-color: var(--content-bg);

    &.--game {
      height: 77%;
    }

    &__encoded_numbers {
      padding: 5px;
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    img {
      width: 130px;
      max-height: 165px;
    }
  }
</style>
