<template>
  <div class="rock-paper-scissors" @click="getHandType">
    <div v-if="hideCard === true" class="rock-paper-scissors__empty-div"></div>
    <div v-else class="rock-paper-scissors__title">{{handName}}</div>
    <div class="rock-paper-scissors__picture">
      <img alt="hand type" :src="handPicture"/>
    </div>
    <div v-if="hideCard === true" class="rock-paper-scissors__empty-div"></div>
  </div>
</template>

<script>
  import {reactive, computed} from "vue";

  export default {
    name: "RockPaperScissors",
    props: {
      handType: {
        type: String,
        required: true
      },
      hideCard: {
        type: Boolean,
        required: true
      }
    },
    setup(props, ctx) {
      const state = reactive(props);
      const handTypes = ['rock', 'paper', 'scissors'];
      const handNames = ['Pierre', 'Feuille', 'Ciseaux'];
      const handName = computed(() => handNames[handTypes.indexOf(state.handType)]);
      const handPicture = computed(() => {
          if (state.hideCard === false) {
            return require(`@/assets/img/${state.handType}.png`);
          }
          return require(`@/assets/img/question-mark.png`);
        });

      function getHandType() {
        ctx.emit('get-hand-type', state.handType);
      }

      return {
        handName,
        handPicture,
        getHandType
      }
    }
  }
</script>

<style lang="scss" scoped>
  .rock-paper-scissors {
    padding: 5px;
    border: 1px solid var(--nav-bg);
    border-radius: 5px;
    img {
      width: 120px;
      max-height: 165px;
    }

    &__title {
      margin-bottom: 15px;
      font-size: 17px;
    }

    &__empty-div {
      height: 20px;
    }
  }
</style>
