<template>
  <nav>
    <h1>Shifoumi contre les coachs !</h1>
  </nav>
  <div class="container">
    <router-view/>
  </div>
</template>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  margin-top: 20px;

  nav {
    background-color: var(--nav-bg);
    color: var(--text-color);
    font-size: 20px;
    min-height: 60px;
    display: flex;
    align-content: center;
    padding: 0 70px;
  }

  .container {
    padding: 20px;
  }
}
</style>
